<div class="grid-container">
    <!-- Tarjeta de Salario -->
    <div class="info-card salary-card">
        <div class="card-header">
            <span class="title">SALARIO MENSUAL</span>
        </div>
        <div class="content-spacing">
            <div class="info-row border-bottom">
                <span class="label">Bruto (ARS):</span>
                <span class="value bold">{{ monthlyData.grossSalary | currencyFormat:'ARS' }}</span>
            </div>
            <div class="info-row border-bottom">
                <span class="label">Neto (ARS):</span>
                <span class="value bold">{{ netSalaryARS() | currencyFormat:'ARS' }}</span>
            </div>
            <div class="info-row">
                <span class="label">Neto (USD):</span>
                <span class="value bold green-text">{{ netSalaryUSD() | currencyFormat:'USD'}}</span>
            </div>
        </div>
    </div>

    <!-- Tarjeta de Gastos -->
    <div class="info-card expenses-card">
        <div class="card-header">
            <span class="title">PORCENTAJES SUGERIDOS</span>
        </div>
        <div class="content-spacing">
            <div class="info-row border-bottom">
                <div class="label-container">
                    <span class="label">Gastos Fijos (ARS):</span>
                    <span class="percentage">{{ (FIXED_EXPENSES_PERCENT * 100).toFixed(0) }}%</span>
                </div>
                <span class="value bold red-text">{{fixedExpenses() | currencyFormat:'ARS' }}</span>
            </div>
            <div class="info-row border-bottom">
                <div class="label-container">
                    <span class="label">Gastos Variables (ARS):</span>
                    <span class="percentage">{{ (VARIABLE_EXPENSES_PERCENT * 100).toFixed(0) }}%</span>
                </div>
                <span class="value bold orange-text">{{ variableExpenses() | currencyFormat:'ARS' }}</span>
            </div>
            <div class="info-row">
                <div class="label-container">
                    <span class="label">Ahorros (ARS):</span>
                    <span class="percentage">{{ (SAVINGS_PERCENT * 100).toFixed(0) }}%</span>
                </div>
                <span class="value bold blue-text">{{ savings() | currencyFormat:'ARS' }}</span>
            </div>
        </div>
    </div>

    <!-- Tarjeta de Aguinaldo -->
    <div *ngIf="showAguinaldo()" class="info-card aguinaldo-card">
        <div class="card-header">
            <span class="title">AGUINALDO (SAC)</span>
        </div>
        <div class="content-spacing">
            <div class="info-row border-bottom">
                <span class="label">Neto (ARS):</span>
                <span class="value bold">{{ aguinaldo() | currencyFormat:'ARS' }}</span>
            </div>
            <div class="info-row">
                <span class="label">Neto (USD):</span>
                <span class="value bold green-text">{{ aguinaldoUSD() | currencyFormat:'USD' }}</span>
            </div>
        </div>
    </div>
</div>