<mat-toolbar color="accent" class="menu-toolbar">
    <div class="logo-title">
        <img src="assets/logo/logo-192x192.png" alt="Logo" class="logo-img" />
        <span class="app-title">GESTOR DE FINANZAS</span>
    </div>

    <div class="menu-items">
        @for (item of menuItems(); track item.path) {
        <button mat-button [routerLink]="item.path" routerLinkActive="active-link" class="menu-button">
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
        </button>
        }
    </div>
</mat-toolbar>