@use '@angular/material' as mat;

@include mat.core();

// Paletas de colores
$financial-tracker-primary: mat.define-palette(mat.$indigo-palette, 500, 100, 700);
$financial-tracker-accent: mat.define-palette(mat.$light-blue-palette, 100, A200, 500);
$financial-tracker-warn: mat.define-palette(mat.$red-palette);

// Tema personalizado
$financial-tracker-theme: mat.define-light-theme((color: (primary: $financial-tracker-primary, accent: $financial-tracker-accent, warn: $financial-tracker-warn),
      typography: mat.define-typography-config($font-family: '"Roboto", "Helvetica Neue", sans-serif',
        $body-1: mat.define-typography-level(14px, 1.5, 400),
        $caption: mat.define-typography-level(12px, 1.4, 400)),
      density: 0));

@include mat.all-component-themes($financial-tracker-theme);