@use '@angular/material' as mat;

@include mat.core();
$financial-tracker-primary: mat.define-palette(mat.$blue-palette, 100, 50, 200);
$financial-tracker-accent: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);
$financial-tracker-warn: mat.define-palette(mat.$red-palette);

$financial-tracker-theme: mat.define-light-theme((
  color: (
    primary: $financial-tracker-primary,
    accent: $financial-tracker-accent,
    warn: $financial-tracker-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

@include mat.all-component-themes($financial-tracker-theme);
